<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="Data()">
  <div class="container">
  <table class="table table-bordered">
    <thead>
      <tr class="danger">
        <th>Slno</th>
        <th>Name</th>
        <th>Number</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!--
   {% for d in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.number }}</td>
        <td>
          <a href="/delete/Angular/{{ d.id }}/" ng-click="update()">Update</a>
          <a href="/delete/Angular/{{ d.id }}/" ng-click="delete($event,{{ d.id }})">Delete</a>
        </td>
      </tr>
        {% endfor %}
        -->

       <tr ng-repeat="d in data" class="active">
          <td>{$ d.id $}</td>
          <td>{$ d.name $}</td>
          <td>{$ d.number $}</td>
          <td>
            <a href="/update/Angular/{$ d.id $}/">Update</a>
            <a href="/delete/Angular/{$ d.id $}/" ng-click="delete($event)">Delete</a>
            <input type="hidden" name="id" value="{$ d.id $}" ng-model="id">
          </td>
        </tr>


    </tbody>
  </table>
</div>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl',function($scope,$http){

$scope.records = function(){
  $http.get("/api/")
  .then(function(response){
    $scope.data = response.data;
  });
}
$scope.records();




  $scope.delete = function(event){
    event.preventDefault();
    context = {
      "id" :$scope.id,
    }
    console.log($scope.id);
    $http.post("/delete/Angular/5/",context)
    .then(function(response){
      $scope.records();
      alert('records deleted');
    });
  }

});










app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
}]);

// for $ expression
app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$').endSymbol('$}');
});
</script>



</body>



</html>
